*{
    margin: 0;
}

.auth, .user-logged{
    width: 50%;
    background-color: lightblue;
    padding: 50px;
    margin: 200px auto;
}

body{
    font-family: monospace;
}

::placeholder{
    font-family: monospace;
}

.opciones {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.opciones button {
    border: 2px solid #333;
    border-radius: 4px;
    background-color: transparent;
    padding: 10px;
    margin: 10px;
    font-family: monospace;
}

.opciones button:hover{
    font-weight: bold;
}

.registro, .login, .addTaskForm, .addCategoryForm {
    width: 100%;
    text-align: center;
    margin: auto;
}

input{
    display: block;
    margin: 12px auto;
}

input.button{
    border: 2px solid #333;
    border-radius: 4px;
    background-color: transparent;
    padding: 10px;
    margin: 10px auto;
    font-family: monospace;
}

input[type="text"]{
    padding: 12px;
}
input[type="email"]{
    padding: 12px;
}
input[type="password"]{
    padding: 12px;
}
input[type="date"]{
    padding: 12px 42px;
}

input[type="number"]{
    padding: 12px;
}

select{
    padding: 12px;
}

.contentButtonTasks {
    display: flex;
    margin-bottom: 20px;
}

.buttonTask {
    width: 40%;
    text-align: center;
    margin: auto;
    background-color: transparent;
    cursor: pointer;
}



nav {
    width: 100%;
    margin: auto;
    height: 56px;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
}

nav p {
    font-family: monospace;
    font-size: 20px;
    padding: 10px;
    margin: auto;
    text-align: center;
}

.button{
    cursor: pointer;
}

.align{
    display: flex;
    margin-right: 10%;
}

.align input {
    margin: 10px;
}

.tasks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px
}

.taskItem{
    width: 100%;
    margin: 12px;
    box-sizing: border-box;
    border: 2px solid #333;
    border-radius: 4px;
}

.taskItem p {
    padding-left: 20px;
}

.taskItem p.description{
    margin-top: 20px;
}

.taskItem p.category{
    margin-bottom: 20px;
}

.taskItem h2 {
    font-family: monospace;
    font-size: 20px;
    margin: auto;
    text-align: center;
    background-color: lightslategray;
    display: block;
}