*{
    margin: 0;
}

.auth, .user-logged{
    width: 50%;
    background-color: lightblue;
    padding: 50px;
    margin: 200px auto;
}

body{
    font-family: monospace;
}

::placeholder{
    font-family: monospace;
}

.opciones {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.opciones button {
    border: 2px solid #333;
    border-radius: 4px;
    background-color: transparent;
    padding: 10px;
    margin: 10px;
    font-family: monospace;
}

.opciones button:hover{
    font-weight: bold;
}

.registro, .login, .addTaskForm, .addCategoryForm {
    width: 100%;
    text-align: center;
    margin: auto;
}

input{
    display: block;
    margin: 12px auto;
}

input.button{
    border: 2px solid #333;
    border-radius: 4px;
    background-color: transparent;
    padding: 10px;
    margin: 10px auto;
    font-family: monospace;
}

input[type="text"]{
    padding: 12px;
}
input[type="email"]{
    padding: 12px;
}
input[type="password"]{
    padding: 12px;
}
input[type="date"]{
    padding: 12px 42px;
}

input[type="number"]{
    padding: 12px;
}

select{
    padding: 12px;
}

.contentButtonTasks {
    display: grid;
    gap: 5px;
    margin-bottom: 20px;
}

.buttonTask {
    width: 40%;
    text-align: center;
    margin: auto;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
}



nav {
    width: 100%;
    margin: auto;
    height: 56px;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
}

nav p {
    font-family: monospace;
    font-size: 20px;
    padding: 10px;
    margin: auto;
    text-align: center;
}

.button{
    cursor: pointer;
}

.align{
    display: flex;
    margin-right: 10%;
}

.align input {
    margin: 10px;
}
.divFecha{
    grid-column: 1 / -1;
}



.progress {
    grid-column: 1 / -1;
    margin: auto;
    width: 50%;
    height: 20px;
    border: 1px solid black;
    text-align: center;
    color: white;
}

.progress-bar{
    background-color: rgb(117, 180, 44);
    width: 0%;
    height: 20px;
}

.progress p{
    margin: auto;
    font-family: monospace;
    font-size: 18px;
    color: black;
    margin-top: -20px;
}

.tasks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px
}

.taskItem{
    width: 100%;
    margin: 12px;
    box-sizing: border-box;
    border: 2px solid #333;
    border-radius: 4px;
}

.taskItem p {
    padding-left: 20px;
}

.taskItem p.description{
    margin-top: 20px;
}

.taskItem p.category{
    margin-bottom: 20px;
}

.taskItem h2 {
    font-family: monospace;
    font-size: 20px;
    margin: auto;
    text-align: center;
    background-color: lightslategray;
    display: block;
}

.listaCategorias {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
}

.listaCategorias button{
    border: 2px solid #333;
    border-radius: 4px;
    background-color: transparent;
    padding: 10px;
    margin: 10px;
    font-family: monospace;
    width: 50%;
}

.updateTaskForm{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    text-align: center;
    background-color: #fefefe;
    margin: 5% 20%; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.updateTaskForm .buttonTask{
    width: 30%;
    display: block;
    margin: auto;
    height: 40px;
}

.updateTaskForm select{
    width: 30%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.completed{
    text-align: center;
    margin-right: 20px;
}